<div id="<%= dom_id reserva %>">
  <p>
    <strong>Check in:</strong>
    <%= reserva.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= reserva.check_out %>
  </p>

  <p>
    <strong>Hospede:</strong>
    <%= reserva.hospede_id %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto_id %>
  </p>

</div>
