<div id="<%= dom_id quarto %>">
  <p>
    <strong>Numero:</strong>
    <%= quarto.numero %>
  </p>

  <p>
    <strong>Tipo quarto:</strong>
    <%= quarto.tipo_quarto %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= quarto.status %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= quarto.preco %>
  </p>

</div>
