<h1>Quartos</h1>

<div id="quartos">
  <% if @quartos.present? %>
    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Tipo</th>
          <th>Status</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @quartos.each do |quartos| %>
          <tr>
            <td><%= quartos.numero %></td>
            <td><%= quartos.tipo_quarto %></td>
            <td><%= quartos.status %></td>
            <td><%= number_to_currency(quartos.preco, unit: "R$") %></td>
            <td><%= link_to "Mostre este quarto", quartos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Não há quartos disponíveis no momento.</p>
  <% end %>
</div>

<%= link_to "Novo quarto", new_administrativo_quarto_path %>