<p style="color: green"><%= notice %></p>

<%= render @quarto %>

<div>
  <%= link_to "Editar este quarto", edit_adiministrativo_quarto_path(@quarto) %> |
  <%= link_to "Volte para quartos", administrativo_quartos_path %>

  <%= button_to "Apague este quarto", [:administrativo, @quarto], method: :delete %>
</div>
