<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="HotelApp - Gerencie suas reservas de hotel de forma fácil e eficiente.">
  <meta name="keywords" content="hotel, reservas, hospedagem, serviços, quartos">
  <meta name="author" content="HotelApp Team">

  <title>HotelApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Favicon -->
  <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">

  <!-- Bootstrap CSS -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom_bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- Inclui o arquivo custom_bootstrap.css -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- JavaScript -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-light-green"> <!-- Aplica a classe bg-light-green -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <i class="fas fa-hotel"></i> <!-- Ícone do hotel -->
      HotelApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Hóspedes', hospedes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Quartos', quartos_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Reservas', reservas_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Funcionários', funcionarios_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Serviços', servicos_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h1 class="text-center">Lista de Quartos</h1>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-custom mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <% if @quartos.present? %>
            <% @quartos.each do |quarto| %>
              <tr>
                <td><%= quarto.numero %></td>
                <td><%= quarto.tipo_quarto %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="2" class="text-center">Nenhum quarto encontrado.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h2 class="text-center mt-5">Lista de Serviços</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-custom mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <% if @servicos.present? %>
            <% @servicos.each do |servico| %>
              <tr>
                <td><%= servico.nome %></td>
                <td><%= servico.descricao %></td>
                <td><%= number_to_currency(servico.preco, unit: "R$") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center">Nenhum serviço encontrado.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h2 class="text-center mt-5">Lista de Funcionários</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-custom mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Salário</th>
          </tr>
        </thead>
        <tbody>
          <% if @funcionarios.present? %>
            <% @funcionarios.each do |funcionario| %>
              <tr>
                <td><%= funcionario.nome %></td>
                <td><%= funcionario.cargo %></td>
                <td><%= number_to_currency(funcionario.salario, unit: "R$") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center">Nenhum funcionário encontrado.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h2 class="text-center mt-5">Lista de Reservas</h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-custom mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Check-in</th>
            <th scope="col">Check-out</th>
            <th scope="col">Hóspede ID</th>
            <th scope="col">Quarto ID</th>
          </tr>
        </thead>
        <tbody>
          <% if @reservas.present? %>
            <% @reservas.each do |reserva| %>
              <tr>
                <td><%= reserva.check_in %></td>
                <td><%= reserva.check_out %></td>
                <td><%= reserva.hospede_id %></td>
                <td><%= reserva.quarto_id %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" class="text-center">Nenhuma reserva encontrada.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</body>
</[_{{{CITATION{{{_1{](https://github.com/himanshuesp/abc/tree/76a95546c33828c31721a3bd08abaa064aff283d/CEO%2Faddp.php)[_{{{CITATION{{{_2{](https://github.com/Vcthtuf/Shop/tree/8785d0f1db1c77150be79db3fbbb84b3a5621f51/build%2Findex.php)[_{{{CITATION{{{_3{](https://github.com/Agilbay04/VLMS-JTI/tree/ac9dee3ecf421da62ff9cf5b76dee9de633b83de/bootstrap-4.6.0%2Fsite%2Fcontent%2Fdocs%2F4.6%2Fcomponents%2Fnavbar.md)[_{{{CITATION{{{_4{](https://github.com/DvC99/Costacar/tree/383478a33c0c5de3e840cd3cde4648a13dac4ea3/includes%2Fheader.php)[_{{{CITATION{{{_5{](https://github.com/kbridson/rails-demos-and-deets-2021-test/tree/b0810423da6d108c10705d8a99adf7d791c2389a/demo-bootstrap-navbar.md)