<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="HotelApp - Gerencie suas reservas de hotel de forma fácil e eficiente.">
  <meta name="keywords" content="hotel, reservas, hospedagem, serviços, quartos">
  <meta name="author" content="HotelApp Team">

  <title>HotelApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Favicon -->
  <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">

  <!-- Bootstrap CSS -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom_bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- Inclui o arquivo custom_bootstrap.css -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- JavaScript -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-light"> <!-- Alterei a classe para um nome mais comum -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <i class="fas fa-hotel"></i> HotelApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Hóspedes', hospedes_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Quartos', quartos_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Reservas', reservas_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Funcionários', funcionarios_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Serviços', servicos_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if hospede_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_hospede_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <% if hospede_signed_in? %>
      <h1 class="text-center">Bem-vindo, <%= current_hospede.email %>!</h1>
      <h2 class="text-center">Lista de Quartos</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered mt-4">
          <thead>
            <tr>
              <th>Número</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <% @quartos.each do |quarto| %>
              <tr>
                <td><%= quarto.numero %></td>
                <td><%= quarto.tipo_quarto %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2>Login</h2>
          <% if defined?(simple_form_for) %>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, "Email:" %>
                <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password, "Senha:" %>
                <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <div class="form-group">
                <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% else %>
            <p class="text-danger">O gem `simple_form` não está configurado. Por favor, instale e configure antes de continuar.</p>
          <% end %>
          <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br />
          <%= link_to "Registrar-se", new_registration_path(resource_name) %>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html>
